*{

    box-sizing: border-box;

 

}

body{

    background-color: rgb(197, 145, 212);

    padding: 0;

    margin: 0;

}

nav{

    background-color: rgb(135, 108, 171);

    display: flex;

    align-items: center;

    justify-content: space-around;

 

}

nav a{

    background-color: rgb(102, 102, 147);

    color: rgb (142, 190, 201);

    padding: 1rem;

    display: inline-block;

font-family: "jersey 10 charted";

}

.cart,

.list{

    margin: auto;

    text-align: center;

    padding-top: 3rem

}

.cart{

    padding: 1rem;

}

.product{

    background-color: white;

    border: 1px solid black;

    width: 40vw;

    display: inline-block;

    margin-left: 1rem;

    margin-top: 1rem;

    padding: 1rem;

}

.cart .product{

    display: flex;

    width: 90%;

justify-content: space-evenly;

}

.total{

    text-align: right;

    margin: 1rem;

    font-size: 2rem;

}

.cart .product img{

width: 3rem;

height: 3rem;

}

.product img{

    width: 100%;

    height: 33vh;

    object-fit: contain;

    display: block;

}

.product button{

    background-color: black;

}

.signup-box{

    width: 350px;

    margin: 50px auto;

    Background-color: #ffffff;

    border-radius: 6px;

    padding: 1rem;

    text-align: center;

    border: 1px solid black;

}

 

h1{

    text-align: center;

    padding-top: 15px;

}

h4{

    text-align: center;

 

}

form{

    width: 300px;

    margin-left: 20px;

    margin-top: 50px;

}

form label{

    display: flex;

    margin-top: 20px;

    font-size: 18px;

}

form input[type="text"],

form input[type="email"],

form input[type="password"]{

    width: 330px;

    padding: 7px;

    border: none;

    border: 1px solid #808080;

    border-radius: 6px;

    outline: none;

}

button,

input[type="button"]{

     width: 100%;

     height: 35px;

     margin-top: 20px;

     border: none;

     background-color: rgb(181, 6, 6);

     color: white;

     font-size: 18px;

}

.cart button{

    height: 3.5rem;

}

#logo{

    height: 5rem;

}
.wrapper img{
width: 100%;
display: inline-block;

}
.wrapper p{
    display: inline-block;
}
.home .wrapper{
    width: 99%;
}
.home .signup-box{
    width: 100%;
}
.p .home{
    text-align: center;
}